.power Vdd=1
.thresholds Vol=0 Vil=0.1 Vih=0.9 Voh=1

.group inputs RESET PCSEL[2:0] ID[15:0] JT[31:0]
.group outputs PC[31:0] PC_INC[31:0] PC_OFFSET[31:0]

.mode gate

.cycle CLK=0 assert inputs tran 50n CLK=1 tran 49n sample outputs tran 1n

1 011 1111111111111111 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL //   1: reset, PC==0x80000000
1 011 1111111111111111 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL //   1: reset, PC==0x80000000
1 100 0000000000000000 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL //   2: reset, PC==0x80000000
0 100 1111111111111110 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLHLLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLHHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL //   3: xadr, PC==0x80000008, offset=-2
0 011 0111111111111111 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLHLLL HLLLLLLLLLLLLLHLLLLLLLLLLLLLLHLL //   4: illop, PC==0x80000004, offset=0x7fff
0 010 0000000000000000 11111111111111111111111111110000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHLLLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   5: jmp, pc==0XFFFFFFF0
0 000 1111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHHLLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   6: inc, pc==0xFFFFFFF4, offset=-1
0 000 1111111111111110 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHLLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   7: inc, pc==0xFFFFFFF8, offset=-1
0 000 1111111111111101 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   8: inc, pc==0xFFFFFFFC, offset=-1
0 000 1111111111111100 00000000000000000000000000000000 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   9: inc, pc==0x80000000, offset=-1
0 010 1000000000000000 01111111111111111111111111111111 LHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LHHHHHHHHHHHHHHLLLLLLLLLLLLLLLLL //  10: jmp to user mode, PC==0x7FFFFFFC, offset=0x8000
0 010 1111111111110111 10000111011001010100001100100001 LLLLLHHHLHHLLHLHLHLLLLHHLLHLLLLL LLLLLHHHLHHLLHLHLHLLLLHHLLHLLHLL LLLLLHHHLHHLLHLHLHLLLLHHLLLLLLLL //  11: jmp to super mode?, PC==0x07654320, offset=-9
0 010 0000000000000000 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLHLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLHLLL //  12: jmp, PC==0x0
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLHLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLHHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLHHLL //  13: inc
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLHHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLHLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLHLLLL //  14: inc
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLHLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLHLHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLHLHLL //  15: inc
0 001 0000000000000010 00000000000000000000000011110000 LLLLLLLLLLLLLLLLLLLLLLLLLLLHHHLL LLLLLLLLLLLLLLLLLLLLLLLLLLHLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLHLHLLL //  16: br, offset=3, PC==0x1C
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLHLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLHLLHLL LLLLLLLLLLLLLLLLLLLLLLLLLLHLLHLL //  17: inc
0 010 0000000000000000 00000000000000000000000000111100 LLLLLLLLLLLLLLLLLLLLLLLLLLHHHHLL LLLLLLLLLLLLLLLLLLLLLLLLLHLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLHLLLLLL //  18: jmp, PC==0x3C
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLHLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLHLLLHLL LLLLLLLLLLLLLLLLLLLLLLLLLHLLLHLL //  19: inc
0 010 0000000000000000 00000000000000000000000001111100 LLLLLLLLLLLLLLLLLLLLLLLLLHHHHHLL LLLLLLLLLLLLLLLLLLLLLLLLHLLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLHLLLLLLL //  20: jmp, PC==0x7C
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLHLLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLHLLLLHLL LLLLLLLLLLLLLLLLLLLLLLLLHLLLLHLL //  21: inc
0 010 0000000000000000 00000000000000001111111111111100 LLLLLLLLLLLLLLLLHHHHHHHHHHHHHHLL LLLLLLLLLLLLLLLHLLLLLLLLLLLLLLLL LLLLLLLLLLLLLLLHLLLLLLLLLLLLLLLL //  22: jmp, PC==0xFFFC
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLHLLLLLLLLLLLLLLLL LLLLLLLLLLLLLLLHLLLLLLLLLLLLLHLL LLLLLLLLLLLLLLLHLLLLLLLLLLLLLHLL //  23: inc
0 010 0000000000000000 00000000111111111111111111111100 LLLLLLLLHHHHHHHHHHHHHHHHHHHHHHLL LLLLLLLHLLLLLLLLLLLLLLLLLLLLLLLL LLLLLLLHLLLLLLLLLLLLLLLLLLLLLLLL //  24: jmp, PC==0xFFFFFC
0 000 0000000000000000 00000000000000000000000000000000 LLLLLLLHLLLLLLLLLLLLLLLLLLLLLLLL LLLLLLLHLLLLLLLLLLLLLLLLLLLLLHLL LLLLLLLHLLLLLLLLLLLLLLLLLLLLLHLL //  25: inc
0 010 0000000000000000 01111111111111111111111111111100 LHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL //  26: jmp, PC==0x7FFFFFFC
0 000 1111111111111110 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL LHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL //  27: inc

.plot CLK
.plot RESET
.plot B(PCSEL[2:0])
.plot X(ID[15:0])
.plot X(JT[31:0])
.plot X(PC[31:0])
.plot X(PC_INC[31:0])
.plot X(PC_OFFSET[31:0])