
.group inputs RESET PCSEL[2:0] ID[15:0] JT[31:0]
.group outputs PC[31:0] PC_INC[31:0] PC_OFFSET[31:0]

.mode gate

.cycle CLK=0 assert inputs tran 50n CLK=1 tran 49N sample outputs tran 1n

0 000 1111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHHLLL HHHHHHHHHHHHHHHHHHHHHHHHHHHHLHLL //   6: inc, pc==0xFFFFFFF4, offset=-1