//rows - contentes 
// you must eliminate the first column
0b_000_0   0b_000_01
0b_000_1   0b_001_01
0b_001_0   0b_011_00
0b_001_1   0b_010_00
0b_010_0   0b_011_11
0b_010_1   0b_100_11
0b_011_0   0b_100_00
0b_011_1   0b_101_00
0b_100_0   0b_101_00
0b_100_1   0b_010_00
0b_101_0   0b_000_10
0b_101_1   0b_101_10
0b110_0   0b_000_01
0b110_1   0b_000_01
0b111_0   0b_000_01
0b111_1   0b_000_01












